.alert {
  position: relative;
  display: block;
  padding: 1em 1.8em;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  background: transparent;
  color: white;
  border-right: 3px;

  &-danger {
    background: lighten(rgb(224, 46, 27), 10%);
    border: darken(rgb(224, 46, 27), 10%);
  }

  /* Success */
  &-success {
    background: #2ecc71;
    border: 1px solid #27ae60;
  }

  /* Info */
  &-info {
    background: #3498db;
    border: 1px solid #2980b9;
  }
}
