body {
  font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  background: #fff url(img/bg.jpg) repeat top left;
  font-weight: 400;
  font-size: 15px;
  color: #1d3c41;
  overflow-y: scroll;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  width: 100%;
  position: relative;

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.clearfix {
  clear: both;
}
