.header {
  @include e('inner') {
    padding: 5px 10px;
    width: 100%;
    background: #f2f2f2;
    transition: all 0.35s ease-in;
  }

  @include e('navigation') {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .menu {
      margin: 0;
      padding: 0;
      list-style: none;

      &-item {
        float: left;
        position: relative;

        &:hover, &:focus {
          .nav__submenu {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
          }
        }

        &:not(:first-child) {
          margin-left: 20px;
        }
      }

      &-link {
        text-transform: capitalize;
        font-size: 12px;
        font-weight: 400;
        position: relative;
        color: #000;
        display: block;
        transition: all 0.35s ease-in;
        text-decoration: none;

        &:hover, &:focus {
          color: lighten(#000, 50%);
          text-decoration: underline;
        }
      }
    }
  }
}

.nav__submenu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #f2f2f2;
  min-width: 110px;
  transition: all 0.3s linear;
  z-index: 1;

  a {
    color: #000;
    font-size: 12px;
    display: block;
    padding: 5px;

    &.active {
      background: #ccc;
    }

    &:hover, &:focus {
      background: #e8e8e8;
    }
  }
}
